@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 100%;
    width: 95%;
}

.bg-image-gradient-left{
    background: linear-gradient(90deg, rgba(31,32,35,1) 0%, rgba(31,32,35,1) 2%, rgba(31,32,35,1) 4%, rgba(31,32,35,1) 7%, rgba(31,32,35,1) 9%, rgba(28,54,56,0) 100%), url(/dog_cat.jpg) no-repeat top center;
    background-size: cover;
    opacity: .8;
}
.bg-image-gradient-rigth{
    background: linear-gradient(90deg,rgba(28,54,56,0) 0%, rgba(31,32,35,1) 92%, rgba(31,32,35,1) 94%, rgba(31,32,35,1) 96%, rgba(31,32,35,1) 98%, rgba(31,32,35,1) 100% ), url(/dog_cat.jpg) no-repeat top center;
    background-size: cover;
    opacity: .8;
}
.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}
::-webkit-scrollbar {
    width: .4rem;
    height: .2rem;
    background-color: #1F2023;
}
::-webkit-scrollbar-thumb {
    background-color: #00FFF6;
    border-radius: .5rem;
}